services:
  n8n-ni8mare-share-lab:
    image: n8nio/n8n:1.65.0
    container_name: n8n-ni8mare-share-setup
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678/
    volumes:
      - n8n_data-ni8mare-share:/home/node/.n8n

volumes:
  n8n_data-ni8mare-share:

